
.big-heading.aboutus{
    margin-bottom: 20px;
}

.container-fluid.header{
    /* background-color:#e9ecef; */
    padding: 4% 4%;

}
.container-fluid.bottom{
  /* background-color:#e9ecef; */
  padding: 0% 2%;

}

  
.container-fluid.middle{
  padding-top: 2%;
  padding-bottom: 8%;
}

.row.aboutus{
    font-size: 19px;
}
.list.tit{
    list-style: none;
    padding-left: 0%;

}
.tit h5{
    margin-top: 3rem;
    color:#3bba9c;
}
.tit li{
  color: #fff;
}
.aboutus {
    font-family: "Montserrat";
    text-align: center;
  }
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    color: #3bba9c;
  }
  .user-icon{
    color:white ;
  }

  .feature-title {
    font-size: 1.5rem;
    color: #fff;
  }
