@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
.box h2, h3, p {
    padding: 0;
    margin: 0;
}
.box h2{
    font-family:'B612', sans-serif;
}
.box.light{
    background-color: #d7f1eb;
    border: 1px solid #000;
}
.box.dark{
    background-color: #060c21;
    border: 1px solid #fff;
}
.box.light p{
    color:#000;
    font-size: 1rem;
}
.box.dark p{
    color: #fff;
    font-size: 1rem;
}
.box {
    height:auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 15%;
}
.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
    transform: skew(2deg, 2deg);
    transition: 0.5s;
}
.box .content {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 120px 20px 0;
}
.box.light .content h2 {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 10em;
    color: rgba(6, 12, 33 , 0.1);
    transition: 0.5s;
}
.box.dark .content h2 {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}
.box .content h3 {
    margin: 0 0 10px;
    font-size: 1.543rem;
    font-weight: 500px;
    color: #3bba9c;
}
.box.dark .content .Link {
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
}
.box.light .content .Link {
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    border: 1px solid #000;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
}
.box .content .Link:hover {
    background-color: #3bba9c;
    color: #000;
}
.box:hover .content h2 {
    transform: translate(-130px);
}
.box:hover .content .Link{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}
@media (max-width: 992px){
    .box.dark .content .Link {
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        border: 1px solid #fff;
        transition: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .box.light .content .Link {
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #000;
        display: inline-block;
        border: 1px solid #000;
        transition: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}