.home-div p{
  font-family: "Montserrat";
  text-align: center;
  word-wrap: inherit;
}
.home-div h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
/* Start Title-section */
.title-section{
  color: #ffffff;
  text-align: center;
}
.title-section .container-fluid {
  padding: 3% 8% 7%;
}
.title-heading {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
  color: #3bba9c;
}
.title-button{
  padding: 10px;
  margin-top: 2.75rem;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  border: 1px solid #fff;
  transition: 0.5s;
  opacity: 1;
  width:25rem;
  font-size: 25px;
}
.title-button:hover {
  background-color: #3bba9c;
  color: #000;
  text-decoration: none;
}
@media (max-width: 992px) {
  .title-section {
    text-align: center;
  }
  .title-button{
    margin-left:-2rem;
  }
}
/* End Title-section */
/* Start Feature-section */
.feature-section {
  text-align: center;
  display: flex;
  justify-content: center;
}
.feature-section .container-fluid{
  padding :1rem 0 0 0;
}
.feature-para{
  color: #fff;
}
.feature-title-home {
  font-size: 1.5rem;
  color: #3bba9c;
  text-align: center;
}
.feature-box {
  padding: 0% 5% 1% 5%;
}
.feature-icon {
  color: #fff;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #3bba9c;
}
/* End Feature-section */
/* Start Card-section */
.card-section.container-fluid{
  padding :5% 0 0 0;
}
.card-section .row{
  font-size: 19px;
}
@media (min-width: 992px){
  .fir,.sec,.thi{
    padding:7% 5% 0% 5%;
  }
  .below-first{
    padding:7% 5% 7% 21.5%;
  }
  .below-second{
    padding:7% 21.5% 7% 5%;
  }
}
.fir .box:before {
  background: linear-gradient(315deg, #3bba9c, #3bba9c);
}
.sec .box:before {
  background: linear-gradient(315deg, #3bba9c, #3bba9c);
}
.thi .box:before {
  background: linear-gradient(315deg, #3bba9c, #3bba9c);
}
.fou .box:before {
  background: linear-gradient(315deg, #3bba9c, #3bba9c);
}
.fif .box:before {
  background: linear-gradient(315deg, #3bba9c, #3bba9c);
}
/* End Card-section */