body {
  font-family: "Montserrat";
  text-align: center;
}

p{
  font-family: "Montserrat";
  text-align: center;
  word-wrap: inherit;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  color: white;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}


.colored-section {
  background-color: #111d5e;
  color: #fff;
  text-align: center;
  padding: 7%;
}

.white-section {
  background-color: #dae1e7;
  text-align: center;
}
.white-section p{
  color: #111d5e;
}
.white-section h3{
  color: #111d5e;
}


.align-button {
  margin: 5% 3% 0 0;
}


#title {
  background-color: #111d5e;
  color: #ffffff;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


.title-image {
  width: 80%;
  position: absolute;
  left:100%;
  bottom:1rem;
}


#features {
  display: flex;
  justify-content: center;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 1%;
}

.icon {
  color: #17a2b8;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #111d5e;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}
.carousel-indicators {
  bottom:-50px;
}
.carousel-inner {
  margin-bottom:5px;
}
.topic-heading{
  padding-bottom: 2%;
}
