.navbar.navbar-expand-lg{
  /* background-color: #51a3b8; */
  color: white;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-size: 1.1em;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:#3bba9c;
}

.nav-icon{
  color: white;
  font-size: 1.1em;
}
.nav-icon:hover{
  color: #3bba9c;
}
