.nav{
    display: flex;
    justify-content: flex-start;
    border-width: 2px;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}
.nv{
    margin-left: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    color: ivory;
  }
  .text:hover,
  .text:active{
    color: #1DB954;
    text-decoration: none;
  }
  .total{
    display: flex;
    flex-direction: row
  }
  .homepage{
     margin-left: 20px;
  }
  .right{
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
  }