.navbar.navbar-expand-lg{
  /* background-color: #51a3b8; */
  color:inherit;
}
.nav-Link{
  color: inherit;
  font-size: 1.1em;
  margin-right: 1rem;
  margin-top: 0.65rem;
}
.nav-Link:hover{
  color:#3bba9c;
  text-decoration: none;
}
.nav-icon{
  color:inherit;
  font-size: 1.1em;
}
.nav-icon:hover{
  color: #3bba9c;
}
