:focus {outline:0 !important;}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.body-dark{
    font-family: "Montserrat";
    text-align: center;
    background-color: #060c21;
    color: #fff;
}
.body-light{
    font-family: "Montserrat";
    text-align: center;
    background-color: #d7f1eb;
    color: #000;
    transition: background-color 1s;
}
.transition-dark{
    transition: background-color 1s;
}
.line{
    height:3px;
    background-color: #3bba9c;
    width: 100%;
    margin-top: 1px;
}