.footer {
    text-align: center;
    /* background-color:#17a2b8; */
    color: white;
  }
  .footer.title h4{
    text-decoration: underline;
  }
  .footer.title{
    color:white;
    text-align: center;
    margin-top: 40px;
    font-family:"Montserrat-Black";
  }
  .footer.text{
    color: ivory;
    font-family:"Montserrat-Black";

  }
  .footer.text:hover,
  .footer.text:active{
    color: #3bba9c;
    text-decoration: none;
  }
  .footer.list{
    padding: 2px;
    font-size: 16px;
    line-height: 1.6;
  }